<div class="error">
<h1>You are not authorized to view this page. Please <a class="erroraction" href="/login">login</a> or <a class="erroraction" href="/register">register</a> to begin using Sci-Fit</h1>
</div>
